:root {
  --color-color-27: #fef3c7;
  --color-color-28: #da002f;
  --color-primary: #00000000;
  --color-secondary: #ffffff;
  --color-accent: #e5e7eb;
  --color-background: #fde8ed;
  --color-surface: #a21d35;
  --color-text-primary: #fff9f3;
  --color-text-secondary: #000000;
  --color-border: #231f20;
  --color-error: #e2d9d0;
  --color-success: #faf3e8;
  --color-warning: #676767;
  --color-info: #f8f8f8;
  --color-color-13: #9ca3af;
  --color-color-14: #374151;
  --color-color-15: #374957;
  --color-color-16: #f2f1dd;
  --color-color-17: #eaeaea;
  --color-color-18: #333333;
  --color-color-19: #f9fafb;
  --color-color-20: #eefbf9;
  --color-color-21: #72516a;
  --color-color-22: #2a9d8f;
  --color-color-23: #d5ba8c;
  --color-color-24: #65758b;
  --color-color-25: #0000003f;
  --color-color-26: #d1d5db;
  --color-color-29: #f1b743;
  --color-color-30: #888888;
  --color-color-31: #4a5568;
  --color-color-32: #111827;
  --color-color-33: #fafafa;
  --color-color-34: #75ab54;
  --color-color-35: #4a4a4a;
  --color-color-36: #0082ba;
  --color-color-37: #718096;
  --color-color-38: #2f80ed;
  --color-color-39: #a0aec0;
  --color-color-40: #828282;
  --color-color-41: #fcf3f4;
  --color-color-42: #87b568;
  --color-color-43: #1a202c;
  --color-color-44: #1a202c95;
  --color-color-45: #4b5563;
  --color-color-46: #f3f4f6;
  --color-color-47: #ecfffd;
  --color-color-48: #212529;
  --color-color-49: #f5f3ff;
  --color-color-50: #131316;
  --color-color-51: #fbf2f4;
  --color-color-52: #ed8936;
  --color-color-53: #ecc94b;
  --color-color-54: #60ff9d;
  --color-color-55: #e4fce5;
  --color-color-56: #eff7fa;
  --color-color-57: #e76f51;
  --color-color-58: #c837ab;
  --color-color-59: #a01028;
  --color-color-60: #eef2ff;
  --color-color-61: #6b7280;
  --color-color-62: #b5eebd;
  --color-color-63: #ffefe5;
  --color-color-64: #edfaf9;
  --color-color-65: #eff6ff;
  --color-color-66: #eef6f9;
  --color-color-67: #2b2c2e;
  --color-color-68: #fef2f2;
  --color-color-69: #e2fbf8;
  --color-color-70: #40a363;
  --color-color-71: #f4a261;
  --color-color-72: #faf5f3;
  --color-color-73: #ff0000;
  --color-color-74: #fff2e6;
  --color-color-75: #f5f5f5;
  --color-color-76: #a21d3519;
  --color-color-77: #d97706;
  --color-color-78: #3b82f6;
  --color-color-79: #198754;
  --color-color-80: #fca5a5;
  --color-color-81: #ef4444;
  --color-color-82: #833ab4;
  --color-color-83: #fd1d1d;
  --color-color-84: #fcaf45;
  --color-color-85: #9b51e0;
  --color-color-86: #f2e6e4;
  --color-color-87: #ffff00;
  --color-color-88: #00ff00;
  --color-color-89: #00ffff;
  --color-color-90: #0000ff;
  --color-color-91: #ff00ff;
  --color-color-92: #1a0d11;
  --color-color-93: #8c7a7d;
  --color-color-94: #c83b50;
  --color-color-95: #e85d04;
  --color-color-96: #dc8412;
  --color-color-97: #20a495;
  --color-color-98: #227c9d;
  --color-color-99: #6f2dbd;
  --color-color-100: #221c1d;
  --font-caption: 'Onest', sans-serif;
  --font-size-caption: 13px;
  --font-weight-caption: 600;
  --line-height-caption: 16.57499885559082px;
  --letter-spacing-caption: 0px;
  --font-caption-2: 'Onest', sans-serif;
  --font-size-caption-2: 12px;
  --font-weight-caption-2: 700;
  --line-height-caption-2: 15.299999237060547px;
  --letter-spacing-caption-2: 0px;
  --font-caption-3: 'Onest', sans-serif;
  --font-size-caption-3: 13px;
  --font-weight-caption-3: 700;
  --line-height-caption-3: 16.57499885559082px;
  --letter-spacing-caption-3: 0px;
  --font-body-sm-4: 'Onest', sans-serif;
  --font-size-body-sm-4: 14px;
  --font-weight-body-sm-4: 700;
  --line-height-body-sm-4: 17.850000381469727px;
  --letter-spacing-body-sm-4: 0px;
  --font-body-sm-5: 'Onest', sans-serif;
  --font-size-body-sm-5: 14px;
  --font-weight-body-sm-5: 400;
  --line-height-body-sm-5: 17.850000381469727px;
  --letter-spacing-body-sm-5: 0px;
  --font-caption-6: 'Onest', sans-serif;
  --font-size-caption-6: 11px;
  --font-weight-caption-6: 500;
  --line-height-caption-6: 14.024999618530273px;
  --letter-spacing-caption-6: 0px;
  --font-caption-7: 'Onest', sans-serif;
  --font-size-caption-7: 11px;
  --font-weight-caption-7: 700;
  --line-height-caption-7: 14.024999618530273px;
  --letter-spacing-caption-7: 0px;
  --font-caption-8: 'Onest', sans-serif;
  --font-size-caption-8: 11px;
  --font-weight-caption-8: 400;
  --line-height-caption-8: 14.024999618530273px;
  --letter-spacing-caption-8: 0px;
  --font-caption-9: 'Onest', sans-serif;
  --font-size-caption-9: 12px;
  --font-weight-caption-9: 600;
  --line-height-caption-9: 15.299999237060547px;
  --letter-spacing-caption-9: 0px;
  --font-caption-10: 'Onest', sans-serif;
  --font-size-caption-10: 13px;
  --font-weight-caption-10: 400;
  --line-height-caption-10: 16.57499885559082px;
  --letter-spacing-caption-10: 0px;
  --font-body-sm-11: 'Onest', sans-serif;
  --font-size-body-sm-11: 14px;
  --font-weight-body-sm-11: 600;
  --line-height-body-sm-11: 17.850000381469727px;
  --letter-spacing-body-sm-11: 0px;
  --font-caption-12: 'Onest', sans-serif;
  --font-size-caption-12: 10px;
  --font-weight-caption-12: 500;
  --line-height-caption-12: 12.75px;
  --letter-spacing-caption-12: 0px;
  --font-caption-13: 'Onest', sans-serif;
  --font-size-caption-13: 10px;
  --font-weight-caption-13: 700;
  --line-height-caption-13: 12.75px;
  --letter-spacing-caption-13: 0.6px;
  --font-body-sm-14: 'Onest', sans-serif;
  --font-size-body-sm-14: 14px;
  --font-weight-body-sm-14: 500;
  --line-height-body-sm-14: 17.850000381469727px;
  --letter-spacing-body-sm-14: 0px;
  --font-caption-15: 'Onest', sans-serif;
  --font-size-caption-15: 11px;
  --font-weight-caption-15: 600;
  --line-height-caption-15: 14.024999618530273px;
  --letter-spacing-caption-15: 0px;
  --font-caption-16: 'Onest', sans-serif;
  --font-size-caption-16: 12px;
  --font-weight-caption-16: 400;
  --line-height-caption-16: 16px;
  --letter-spacing-caption-16: 0px;
  --font-body-17: 'Onest', sans-serif;
  --font-size-body-17: 18px;
  --font-weight-body-17: 500;
  --line-height-body-17: 22.94999885559082px;
  --letter-spacing-body-17: 0px;
  --font-body-18: 'Onest', sans-serif;
  --font-size-body-18: 18px;
  --font-weight-body-18: 700;
  --line-height-body-18: 22.94999885559082px;
  --letter-spacing-body-18: 0px;
  --font-heading-md-19: 'Inter', sans-serif;
  --font-size-heading-md-19: 22px;
  --font-weight-heading-md-19: 800;
  --line-height-heading-md-19: 26.625px;
  --letter-spacing-heading-md-19: 0px;
  --font-caption-20: 'Onest', sans-serif;
  --font-size-caption-20: 12px;
  --font-weight-caption-20: 500;
  --line-height-caption-20: 15.299999237060547px;
  --letter-spacing-caption-20: 0px;
  --font-heading-md-21: 'Onest', sans-serif;
  --font-size-heading-md-21: 22px;
  --font-weight-heading-md-21: 700;
  --line-height-heading-md-21: 28.049999237060547px;
  --letter-spacing-heading-md-21: 0px;
  --font-caption-22: 'Onest', sans-serif;
  --font-size-caption-22: 10px;
  --font-weight-caption-22: 600;
  --line-height-caption-22: 12.75px;
  --letter-spacing-caption-22: 0px;
  --font-caption-23: 'Onest', sans-serif;
  --font-size-caption-23: 12px;
  --font-weight-caption-23: 400;
  --line-height-caption-23: 15.299999237060547px;
  --letter-spacing-caption-23: 0px;
  --font-caption-24: 'Onest', sans-serif;
  --font-size-caption-24: 13px;
  --font-weight-caption-24: 500;
  --line-height-caption-24: 16.57499885559082px;
  --letter-spacing-caption-24: 0px;
  --font-caption-25: 'Onest', sans-serif;
  --font-size-caption-25: 9px;
  --font-weight-caption-25: 700;
  --line-height-caption-25: 11.47499942779541px;
  --letter-spacing-caption-25: 0px;
  --font-body-26: 'Onest', sans-serif;
  --font-size-body-26: 16px;
  --font-weight-body-26: 700;
  --line-height-body-26: 20.399999618530273px;
  --letter-spacing-body-26: 0px;
  --font-body-sm-27: 'Noto Sans', sans-serif;
  --font-size-body-sm-27: 14px;
  --font-weight-body-sm-27: 400;
  --line-height-body-sm-27: 19.600000381469727px;
  --letter-spacing-body-sm-27: 0px;
  --font-caption-28: 'Onest', sans-serif;
  --font-size-caption-28: 9px;
  --font-weight-caption-28: 500;
  --line-height-caption-28: 11.47499942779541px;
  --letter-spacing-caption-28: 0px;
  --font-body-sm-29: 'Inter', sans-serif;
  --font-size-body-sm-29: 14px;
  --font-weight-body-sm-29: 500;
  --line-height-body-sm-29: 22.95652198791504px;
  --letter-spacing-body-sm-29: 0px;
  --font-caption-30: 'Onest', sans-serif;
  --font-size-caption-30: 10px;
  --font-weight-caption-30: 500;
  --line-height-caption-30: 20px;
  --letter-spacing-caption-30: 0px;
  --font-heading-lg-31: 'Onest', sans-serif;
  --font-size-heading-lg-31: 28px;
  --font-weight-heading-lg-31: 800;
  --line-height-heading-lg-31: 35.70000076293945px;
  --letter-spacing-heading-lg-31: 0px;
  --font-body-32: 'Onest', sans-serif;
  --font-size-body-32: 18px;
  --font-weight-body-32: 600;
  --line-height-body-32: 22.94999885559082px;
  --letter-spacing-body-32: 0px;
  --font-body-33: 'Onest', sans-serif;
  --font-size-body-33: 18px;
  --font-weight-body-33: 800;
  --line-height-body-33: 22.94999885559082px;
  --letter-spacing-body-33: 0px;
  --font-body-sm-34: 'Onest', sans-serif;
  --font-size-body-sm-34: 15px;
  --font-weight-body-sm-34: 700;
  --line-height-body-sm-34: 19.125px;
  --letter-spacing-body-sm-34: 0.6px;
  --font-caption-35: 'Inter', sans-serif;
  --font-size-caption-35: 13px;
  --font-weight-caption-35: 600;
  --line-height-caption-35: 15.732954025268555px;
  --letter-spacing-caption-35: 0.5px;
  --font-caption-36: 'Inter', sans-serif;
  --font-size-caption-36: 11px;
  --font-weight-caption-36: 600;
  --line-height-caption-36: 13.3125px;
  --letter-spacing-caption-36: 0px;
  --font-body-sm-37: 'Onest', sans-serif;
  --font-size-body-sm-37: 14px;
  --font-weight-body-sm-37: 400;
  --line-height-body-sm-37: 20px;
  --letter-spacing-body-sm-37: 0px;
  --font-caption-38: 'Onest', sans-serif;
  --font-size-caption-38: 10px;
  --font-weight-caption-38: 400;
  --line-height-caption-38: 12.75px;
  --letter-spacing-caption-38: 0px;
  --font-body-sm-39: 'Inter', sans-serif;
  --font-size-body-sm-39: 14px;
  --font-weight-body-sm-39: 400;
  --line-height-body-sm-39: 22px;
  --letter-spacing-body-sm-39: 0px;
  --font-heading-xl-40: 'Onest', sans-serif;
  --font-size-heading-xl-40: 96px;
  --font-weight-heading-xl-40: 600;
  --line-height-heading-xl-40: 122.39999389648438px;
  --letter-spacing-heading-xl-40: 0px;
  --spacing-gap-4: 4px;
  --spacing-gap-6: 6px;
  --spacing-padding-8: 8px;
  --spacing-padding-12: 12px;
  --spacing-padding-10: 10px;
  --spacing-padding-6: 6px;
  --spacing-padding-4: 4px;
  --spacing-padding-2: 2px;
  --spacing-padding-16: 16px;
  --spacing-padding-20: 20px;
  --spacing-padding-24: 24px;
  --spacing-padding-14: 14px;
  --spacing-padding-15: 15px;
  --spacing-padding-40: 40px;
  --spacing-padding-18: 18px;
  --spacing-padding-30: 30px;
  --spacing-padding-32: 32px;
  --spacing-padding-27: 27px;
  --spacing-gap-10: 10px;
  --spacing-gap-8: 8px;
  --spacing-gap-20: 20px;
  --spacing-gap-2: 2px;
  --spacing-gap-12: 12px;
  --spacing-gap-55: 55px;
  --spacing-gap-16: 16px;
  --spacing-gap-24: 24px;
  --spacing-gap-30: 30px;
  --spacing-gap-15: 15px;
  --spacing-gap-1: 1px;
  --spacing-gap-25: 25px;
  --spacing-gap-3: 3px;
  --radius-6: 6px;
  --radius-13: 13px;
  --radius-8: 8px;
  --radius-100: 100px;
  --radius-16: 16px;
  --radius-4: 4px;
  --radius-20: 20px;
  --radius-32: 32px;
  --radius-12: 12px;
  --radius-10: 10px;
  --radius-3: 3px;
  --radius-18: 18px;
  --radius-5: 5px;
  --radius-50: 50px;
  --shadow-drop-shadow: 0px 2px 4px 0px #0000000a;
  --shadow-drop-shadow-2: 0px 4px 10px 0px #0000000f;
  --shadow-drop-shadow-3: 0px 4px 12px 0px #00000005;
  --shadow-drop-shadow-4: 0px 10px 20px 0px #00000024;
  --shadow-drop-shadow-5: 0px 4px 8px 0px #00000005;
  --shadow-drop-shadow-6: -6px 0px 24px 0px #00000026;
  --shadow-drop-shadow-7: -4px 0px 20px 0px #0000001f;
  --shadow-drop-shadow-8: 0px 4px 32px 0px #0000001e;
  --shadow-drop-shadow-9: 0px 1px 3px 0px #00000033;
  --gradient: linear-gradient(180deg, #833ab4 0%, #fd1d1d 50%, #fcaf45 100%);
  --gradient-2: linear-gradient(180deg, #ffffff 0%, #a01028 100%);
  --gradient-3: linear-gradient(180deg, #00000000 0%, #000000 100%);
  --gradient-4: linear-gradient(180deg, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}
