@import "tailwindcss";
@import "../theme/tokens.css";
@import "../theme/breakpoints.css";
@import "../theme/global.css";
@import "../theme/typography.css";

@theme inline {
  --font-onest: "Onest", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;

  --color-accent: #e5e7eb;
  --color-background: #fde8ed;
  --color-border: #231f20;
  --color-100: #221c1d;
  --color-13: #9ca3af;
  --color-14: #374151;
  --color-15: #374957;
  --color-16: #f2f1dd;
  --color-17: #eaeaea;
  --color-27: #fef3c7;

  --color-foreground: #000000;
  --color-card: #ffffff;
  --color-card-foreground: #000000;
  --color-popover: #ffffff;
  --color-popover-foreground: #000000;
  --color-primary: #a21d35;
  --color-primary-foreground: #fff9f3;
  --color-secondary: #f3f4f6;
  --color-secondary-foreground: #000000;
  --color-muted: #eaeaea;
  --color-muted-foreground: #6b7280;
  --color-accent-foreground: #000000;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fff9f3;
  --color-input: #231f20;
  --color-ring: #2f80ed;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-text-secondary);
  --card: var(--color-secondary);
  --card-foreground: var(--color-text-secondary);
  --popover: var(--color-secondary);
  --popover-foreground: var(--color-text-secondary);
  --primary: var(--color-surface);
  --primary-foreground: var(--color-text-primary);
  --secondary: var(--color-color-46);
  --secondary-foreground: var(--color-text-secondary);
  --muted: var(--color-color-17);
  --muted-foreground: var(--color-color-61);
  --accent: var(--color-accent);
  --accent-foreground: var(--color-text-secondary);
  --destructive: var(--color-color-81);
  --destructive-foreground: var(--color-text-primary);
  --border: var(--color-border);
  --input: var(--color-border);
  --ring: var(--color-color-38);
  --radius: var(--radius-8);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-secondary);
  font-family: var(--font-onest);
}
