@import "tailwindcss";

[data-figma-node="5339:8839"],
.luna-cta-change-password {
  width: 179px;
  height: 36px;
  white-space: nowrap;
  border: 1px solid #a21d35;
  border-radius: 6px;
}

[data-figma-component="5602:68955"] > div,
.luna-cta-week-cards {
  width: 172px;
  height: 52px;
  white-space: nowrap;
}

.luna-cta-content {
  width: 156px;
  height: 36px;
  white-space: nowrap;
}
